/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

form label {
  font-weight: bold;
}

form input, form button {
  padding: 5px;
  font-size: 14px;
}

form button {
  cursor: pointer;
}

#map {
  width: 100%; /* Asegúrate de que el mapa ocupe todo el ancho disponible */
  height: 500px; /* Define una altura fija para que Leaflet pueda renderizarse */
  margin: 20px 0;
  border: 2px solid #ddd;
  border-radius: 5px;
}

/* Estilo para el contenedor de la tabla con scroll */
#resultsTable {
  max-height: 400px; /* Establece la altura máxima que deseas para la tabla */
  overflow-y: auto; /* Habilita el scroll vertical */
  border: 2px solid #ddd; /* Borde para la tabla */
  margin-top: 20px; /* Espaciado superior */
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
/* Estilos para el modal */
.modal {
  display: none;  /* Por defecto, el modal está oculto */
  position: fixed; /* Aseguramos que se quede fijo en la pantalla */
  z-index: 9999;   /* Un valor alto para asegurarnos de que esté sobre otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro y semitransparente */
  padding-top: 60px; /* Para que el contenido esté centrado */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%; /* Ajustar el tamaño de la imagen */
  max-width: 700px; /* Tamaño máximo de la imagen */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
