/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

form label {
  font-weight: bold;
}

form input, form button {
  padding: 5px;
  font-size: 14px;
}

form button {
  cursor: pointer;
}

#map {
  width: 100%; /* Asegúrate de que el mapa ocupe todo el ancho disponible */
  height: 500px; /* Define una altura fija para que Leaflet pueda renderizarse */
  margin: 20px 0;
  border: 2px solid #ddd;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}